@page "/roster"
@using Client.Components
@using Client.ViewModels

<MudTable Items="@_players"
          Filter="FilterFunc"
          FixedHeader="true"
          Height="calc(100vh - 120px)"
          Hover="true"
          Dense="true"
          Breakpoint="Breakpoint.Sm"
          Elevation="1">

    <ToolBarContent>
        <MudText Typo="Typo.h6">Аналитика состава клана</MudText>
        <MudSpacer/>
        <MudTextField @bind-Value="_searchString"
                      Placeholder="Поиск по нику или тегу"
                      Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search"
                      IconSize="Size.Medium"
                      Class="mt-0"
                      Clearable="true"/>
    </ToolBarContent>

    <ColGroup>
        <col style="width: 50px;"/>
        <col style="width: 250px;"/>
        <col style="width: 80px;"/>
        <col style="width: 100px;"/>
        <col style="width: 120px;"/>
        <col style="width: 120px;"/>
        <col/>
    </ColGroup>

    <HeaderContent>
        <MudTh></MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<FullPlayerViewModel, object>(x => x.Member.Name)">Игрок</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<FullPlayerViewModel, object>(x => x.Member.TownHallLevel)">ТХ</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<FullPlayerViewModel, object>(x => x.Member.WarPreference.ToString())">Статус КВ</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<FullPlayerViewModel, object>(x => x.CwParticipation)">Явка КВ (%)</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<FullPlayerViewModel, object>(x => x.CwlParticipation)">Явка ЛВК (%)</MudTableSortLabel>
        </MudTh>
    </HeaderContent>

    <RowTemplate>
        <MudTd>
            <MudIconButton Icon="@(context.ShowDetails ? Icons.Material.Filled.ExpandLess : Icons.Material.Filled.ExpandMore)"
                           OnClick="() => context.ShowDetails = !context.ShowDetails"
                           Size="Size.Small"/>
        </MudTd>
        <MudTd DataLabel="Игрок">
            <div class="d-flex flex-column">
                <MudText Typo="Typo.body2"><strong>@context.Member.Name</strong></MudText>
                <MudText Typo="Typo.caption" Color="Color.Secondary">@GetRoleName(context.RoleName) | @context.Member.Tag</MudText>
            </div>
        </MudTd>
        <MudTd DataLabel="ТХ">
            <MudImage Src="@($"/assets/images/townhalls/Town_Hall{context.Member.TownHallLevel}.webp")"
                      Alt="@($"ТХ {context.Member.TownHallLevel}")"
                      Width="40"
                      Height="40"
                      ObjectFit="ObjectFit.Contain"/>
        </MudTd>
        <MudTd DataLabel="Статус КВ">
            <MudIcon Icon="@context.WarPreferenceIcon" Color="@context.WarPreferenceColor" Size="Size.Small"/>
        </MudTd>
        <MudTd DataLabel="Явка КВ">@context.CwParticipation.ToString("0.##")%</MudTd>
        <MudTd DataLabel="Явка ЛВК">@context.CwlParticipation.ToString("0.##")%</MudTd>
    </RowTemplate>

    <ChildRowContent>
        @if (context.ShowDetails)
        {
            <MudTr>
                <td colspan="6" class="pa-4" style="background-color: var(--mud-palette-background-grey);">
                    <PlayerDetailsCard Player="@context"/>
                </td>
            </MudTr>
        }
    </ChildRowContent>
</MudTable>